USE [BD_CENTINELA]
GO
/****** Object:  StoredProcedure [cent].[EXT_USO_EXTERIOR_TRANSF_ENCRYPT_UPDATE]    Script Date: 7/12/2024 4:24:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF NOT EXISTS (
		SELECT *
		FROM sys.objects
		WHERE object_id = OBJECT_ID(N'[cent].[EXT_USO_EXTERIOR_TRANSF_ENCRYPT_UPDATE]')
			AND type IN (
				N'P'
				,N'PC'
				)
		)
BEGIN
	EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [cent].[EXT_USO_EXTERIOR_TRANSF_ENCRYPT_UPDATE] AS'
END
GO

ALTER PROCEDURE [cent].[EXT_USO_EXTERIOR_TRANSF_ENCRYPT_UPDATE]
	
AS
BEGIN
	SET NOCOUNT ON;

	OPEN SYMMETRIC KEY skBCP_DEV DECRYPTION BY CERTIFICATE CertBCP_DEV

		UPDATE [cent].[EXT_USO_EXTERIOR_COBRO_COMISION] SET 
		TARJETA_ENCRIPTADA=ENCRYPTBYKEY(Key_GUID('skBCP_DEV'), CONVERT(varbinary(256), TARJETA_TEMPORAL)),
		TARJETA_OFUSCADA='NO APLICA',
		MONEDA_TARJETA='',
		GLOSAUTILIZAR='COMIS USO EXTERIOR '+PERIODO,
		PORCENTAJE_COMISION=(SELECT convert(decimal(18,2),VALOR)  FROM [cent].[EXT_USO_PARAMETROS] where PARAMETRO='PORCENTAJE_COM_CTA_TRANSF'),
		TARJETA_TEMPORAL='',
		FLAG_COBRO=(
		CASE 
		WHEN IMPORTE_USD> (SELECT convert(decimal(18,2),VALOR)  FROM [cent].[EXT_USO_PARAMETROS] where PARAMETRO='LIMITE_TRANS_USD')THEN 0
		ELSE 1 END
		)
		
		WHERE 
		CONVERT(CHAR(8), FECHA_REGISTRO,112) =CONVERT(CHAR(8), GETDATE(),112)
		and CANAL_TRANSACCION ='TRANSFERENCIA'

	CLOSE SYMMETRIC KEY skBCP_DEV	 
	

END


