USE [BD_CENTINELA]
GO
/****** Object:  StoredProcedure [cent].[EXT_USO_EXTERIOR_TARJETAS_ENCRYPT_UPDATE]    Script Date: 7/12/2024 4:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF NOT EXISTS (
		SELECT *
		FROM sys.objects
		WHERE object_id = OBJECT_ID(N'[cent].[EXT_USO_EXTERIOR_TARJETAS_ENCRYPT_UPDATE]')
			AND type IN (
				N'P'
				,N'PC'
				)
		)
BEGIN
	EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [cent].[EXT_USO_EXTERIOR_TARJETAS_ENCRYPT_UPDATE] AS'
END
GO

ALTER PROCEDURE [cent].[EXT_USO_EXTERIOR_TARJETAS_ENCRYPT_UPDATE]
	
AS
BEGIN
	SET NOCOUNT ON;

	OPEN SYMMETRIC KEY skBCP_DEV DECRYPTION BY CERTIFICATE CertBCP_DEV

		UPDATE [cent].[EXT_USO_EXTERIOR_COBRO_COMISION] SET 
		TARJETA_ENCRIPTADA=ENCRYPTBYKEY(Key_GUID('skBCP_DEV'), CONVERT(varbinary(256), TARJETA_TEMPORAL)),
		
		GLOSAUTILIZAR='COMIS USO EXTERIOR '+PERIODO,
		TARJETA_OFUSCADA=SUBSTRING(TARJETA_TEMPORAL,1,6)+'XXXXXX'+SUBSTRING(TARJETA_TEMPORAL,LEN(TARJETA_TEMPORAL)-3,4),

		TARJETA_TEMPORAL='',
		MONEDA_TARJETA=MONEDA_CUENTA
		,FLAG_COBRO=1
		,PORCENTAJE_COMISION=
		(CASE 
		WHEN CANAL_TRANSACCION='DEBITO' THEN (SELECT convert(decimal(18,2),VALOR)  FROM [cent].[EXT_USO_PARAMETROS] where PARAMETRO='PORCENTAJE_COM_TRJ_DEBITO')
		WHEN CANAL_TRANSACCION='CREDITO' THEN (SELECT convert(decimal(18,2),VALOR)  FROM [cent].[EXT_USO_PARAMETROS] where PARAMETRO='PORCENTAJE_COM_TRJ_CREDITO')
		END
		)
		
		
		,TIPO_CAMBIO_USD_BOL=0
		WHERE 
		CONVERT(CHAR(8), FECHA_REGISTRO,112) =CONVERT(CHAR(8), GETDATE(),112)
		and CANAL_TRANSACCION !='TRANSFERENCIA'


		UPDATE [cent].[EXT_USO_EXTERIOR_COBRO_COMISION_REVERSA] SET 
		TARJETA_ENCRIPTADA=ENCRYPTBYKEY(Key_GUID('skBCP_DEV'), CONVERT(varbinary(256), TARJETA_TEMPORAL)),
		
		
		TARJETA_OFUSCADA=SUBSTRING(TARJETA_TEMPORAL,1,6)+'XXXXXX'+SUBSTRING(TARJETA_TEMPORAL,LEN(TARJETA_TEMPORAL)-3,4),

		TARJETA_TEMPORAL=''
		
		
		
		
		WHERE 
		CONVERT(CHAR(8), FECHA_REGISTRO,112) =CONVERT(CHAR(8), GETDATE(),112)
		


	CLOSE SYMMETRIC KEY skBCP_DEV	 
	

END


