USE [BD_CENTINELA]
GO
/****** Object:  StoredProcedure [cent].[EXT_USO_EXTERIOR_TC_EXTORNO_DELETE_UPDATE]    Script Date: 7/12/2024 4:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF NOT EXISTS (
		SELECT *
		FROM sys.objects
		WHERE object_id = OBJECT_ID(N'[cent].[EXT_USO_EXTERIOR_TC_EXTORNO_DELETE_UPDATE]')
			AND type IN (
				N'P'
				,N'PC'
				)
		)
BEGIN
	EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [cent].[EXT_USO_EXTERIOR_TC_EXTORNO_DELETE_UPDATE] AS'
END
GO

ALTER PROCEDURE [cent].[EXT_USO_EXTERIOR_TC_EXTORNO_DELETE_UPDATE]
	
AS
BEGIN
	SET NOCOUNT ON;

	
OPEN SYMMETRIC KEY skBCP_DEV DECRYPTION BY CERTIFICATE CertBCP_DEV

DELETE a

FROM [cent].[EXT_USO_EXTERIOR_COBRO_COMISION] a inner join
[cent].[EXT_USO_EXTERIOR_COBRO_COMISION_REVERSA] b 
on a.TRACE=b.TRACE 
and a.FECHA_TRANSACCION=b.FECHA_LOCAL
and CONVERT(varchar,DECRYPTBYKEY(a.TARJETA_ENCRIPTADA))=CONVERT(varchar,DECRYPTBYKEY(b.TARJETA_ENCRIPTADA))
and a.NOMBRE_COMERCIO=b.NOMBRE_COMERCIO
and a.REFNUM=b.REFNUM
CLOSE SYMMETRIC KEY skBCP_DEV	



UPDATE a
SET
a.IMPORTE_USD=	b.IMPORTE_AFECTACION
,a.MONEDA_USD=b.MONEDA_AFECTACION
,a.IMPORTE_BOL=b.IMPORTE_AFECTACION
,a.MONEDA_BOL=b.MONEDA_AFECTACION

FROM [cent].[EXT_USO_EXTERIOR_COBRO_COMISION] a 
inner join [cent].[EXT_USO_EXTERIOR_COBRO_COMISION_NAZIR] b
on a.CUENTA_TRANSACCION=b.CUENTA_TRANSACCION and a.AUTH=b.AUTH
and a.FECHA_TRANSACCION=b.FECHA_TRANSACCION
where IMPORTE_BOL!=b.IMPORTE_AFECTACION
and a.PERIODO=b.PERIODO_ACTUAL

END


