USE [BD_CENTINELA]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF NOT EXISTS (
		SELECT *
		FROM sys.objects
		WHERE object_id = OBJECT_ID(N'[cent].[EXT_USO_EXTERIOR_CIC_PENDIENTES_GET]')
			AND type IN (
				N'P'
				,N'PC'
				)
		)
BEGIN
	EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [cent].[EXT_USO_EXTERIOR_CIC_PENDIENTES_GET] AS'
END
GO

ALTER PROCEDURE [cent].[EXT_USO_EXTERIOR_CIC_PENDIENTES_GET]
	@SERVICIO INT
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT CUENTA_TRANSACCION,CIC,CANAL_TRANSACCION FROM [cent].[EXT_USO_EXTERIOR_COBRO_COMISION] 
		where CIC IS NULL
		GROUP BY CUENTA_TRANSACCION,CIC,CANAL_TRANSACCION
		ORDER BY 1
	

END


