USE [BD_CENTINELA]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
IF NOT EXISTS (
		SELECT *
		FROM sys.objects
		WHERE object_id = OBJECT_ID(N'[cent].[EXT_USO_EXTERIOR_IMPORTES_USD_UPDATE]')
			AND type IN (
				N'P'
				,N'PC'
				)
		)
BEGIN
	EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [cent].[EXT_USO_EXTERIOR_IMPORTES_USD_UPDATE] AS'
END
GO

ALTER PROCEDURE [cent].[EXT_USO_EXTERIOR_IMPORTES_USD_UPDATE] 
 @TIPO_CAMBIO DECIMAL(18,2)
 
	
AS
BEGIN
	SET NOCOUNT ON;

	
update [cent].[EXT_USO_EXTERIOR_COBRO_COMISION]
set IMPORTE_USD=IMPORTE_USD/@TIPO_CAMBIO,MONEDA_USD='840'
,TIPO_CAMBIO_USD_BOL=@TIPO_CAMBIO
where MONEDA_USD='068'
	
update [cent].[EXT_USO_EXTERIOR_COBRO_COMISION]
set IMPORTE_BOL=IMPORTE_BOL*@TIPO_CAMBIO,MONEDA_BOL='068'
,TIPO_CAMBIO_USD_BOL=@TIPO_CAMBIO
where MONEDA_BOL='840'


update [cent].[EXT_USO_EXTERIOR_COBRO_COMISION]
set IMPORTE_BOL=IMPORTE_USD*@TIPO_CAMBIO,MONEDA_BOL='068'
,TIPO_CAMBIO_USD_BOL=@TIPO_CAMBIO
where MONEDA_USD='840' AND TIPO_CAMBIO_USD_BOL=1

update [cent].[EXT_USO_EXTERIOR_COBRO_COMISION] set TIPO_CAMBIO_USD_BOL=@TIPO_CAMBIO
where TIPO_CAMBIO_USD_BOL=0

END




